.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }

  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
  }

  .popup_inner > div > div{
      padding: 10px;
  }

  .popup_inner > span {
    font-weight: bold;
    width: 300px;
  }

  .button_group {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    padding: 10px;
  }

  .button_group > button {
    background-color: lightgray;
    border: 1px solid #039be5;
    background: none;
    color: #039be5;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    bottom: 0;
    right: 0;
  }

  .button_group #delete_close_button {
    color: #D8323B;
    border: 1px solid #D8323B;
  }

  .warning_title {
    font-weight: bold;
    color: red;
    margin: 30px;
    text-align: center;
  }

  .warning_content {
      text-align: center;
  }

  h1 {
      text-align: center;
  }